{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
        <div class="container">

            <div class="row">
                    <div class="col-lg-10">
                        <h1>{{ page.title }}</h1>
                    </div>
                <div class="col-lg-2">
                    <p class="meta text-right">{{ page.date }}</p>
                </div>
            </div>
                                    <hr class="divider">
            <div class="row">
                <div class="col-lg-12 text-justify">
                    {{ page.body|richtext }}

                    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>
                </div>
            </div>
        </div>

{% endblock %}
