{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <div class="col-lg-12">
        {% for post in page.get_children %}
            <div class="row">
                <div class="col-lg-12">
                    <h3>{{ post.title }}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                {{ post.specific.bio|richtext }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}