{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-formpage{% endblock %}

{% block content %}
<h1>{{ page.title }}</h1>
    <p>El formulari s'ha enviat correctament ens posarem en contacte el més aviat posible</p>
{% endblock %}