{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block body_class %}template-formpage{% endblock %}

{% block content %}
<div class="container">
     <div class="row">
         <div class="col-sm-12">
              <div class="border-bottom m3">
                    <h1>{{ page.title }}</h1>
              </div>
         </div>
     </div>
    <br>
    <div class="row">
        <div class="col-sm-12">
            {{ page.intro|richtext }}
                <form action="{% pageurl page %}" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    {{ field.label_tag }}: <br>{{ field }}<br><br>
                    {% endfor %}
                <br>
                 <input class="btn btn-primary" type="submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}